

{% extends 'base.html' %}
{% block title %}
    Add Truck Page
{% endblock %}

{% block content %}
<div class="container" style="max-width: 40rem; opacity: 0.8; height: 100vh;">
    <div class="container">
    <div id="unique_login" class=" container login-form d-flex flex-column bd-highlight mb-3 mt-5" style="width: 100%; height:fit-content;">
        <form method="POST">
            <div class="text">
                Add the Truck details
            </div>
            {{ form.hidden_tag() }}
            <div class="field">
                <div class="fas fa-user"></div>
                {{ form.truckNumber(class="form-control", type="text", placeholder="Truck Number") }}
            </div>
            <div class="field">
                <div class="fas fa-lock"></div>
                {{ form.branchID(class="form-control", type="text", placeholder="Bracnch ID") }}
            </div>
            <div class="field">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}