{% extends 'base2.html' %}

{% block title %}
View Consignment Status Page
{% endblock %}

{% block content %}
<div style="height: 100vh;">
<div class="container" style="width:fit-content" style="background-color:black;">
  <div class="card shadow my-5 ">
      <h4 class="card-header" style="color:black">Consignment List</h4>
      <div class="card-body">
        <form class="mb-3">
          <label for="searchBox" style="color:black">Search list</label>
          <input type="text" id="searchBox" name="searchBox" class="form-control">
          <small class="form-text feedback"></small>
        </form>
        <table class="table table-searchable table-striped table-bordered table-hover table-responsive">
            <thead>
              <tr>
                <th>Branch ID</th>
                <th>Branch Location</th>
                <th>Avg waiting time of Consignment(min) </th>
              </tr>
            </thead>
            <tbody>
              {% for branch in branches %}
              <tr>
                <td style="font-weight: 800; font-style: italic; text-align: center;">{{ branch.id }}</td>
                <td>{{ branch.officeAddress.city }}</td>
                <td>{{ branch.avg_waiting_time }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </tbody>
      </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  </div>
  {% endblock %}