{% extends 'base3.html' %}

{% block title %}
Branch Consignment Handling
{% endblock %}

{% block content %}
<div style="min-height: 100vh">
<h2 style="text-align: center; font-family: 'Roboto Condensed', sans-serif;">Branch Consignment Statistics</h2>
<br>
<br>

<div class="container" style="border: 2px solid white; border-radius: 1.05rem;">
    <table class="charts-css bar show-heading show-labels show-10-secondary-axes data-spacing-5" id="my_chart">
        <caption style="color: white; text-align: center; font-family: 'Roboto Condensed', sans-serif;"> PENDING LIST
        </caption>
        <tbody>
            {% for city in all_branch_city %}
            <tr>
                <th style="font-size: 0.75rem;">{{ city }}</th>
                <td style="--color: #e53d3d; --size: calc( {{ pending_list[city] }} / 20 )">{{ pending_list[city] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>
<br>

<div class="container" style="border: 2px solid white; border-radius: 1.05rem;">
    <table class="charts-css bar show-heading show-labels show-10-secondary-axes data-spacing-5" id="my_chart">
        <caption style="color: white; text-align: center; font-family: 'Roboto Condensed', sans-serif;"> ENROUTE LIST
        </caption>
        <tbody>
            {% for city in all_branch_city %}
            <tr>
                <th style="font-size: 0.75rem;">{{ city }}</th>
                <td style="--color: #FFC61A; --size: calc( {{ enroute_list[city] }} / 20 )">{{ enroute_list[city] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>
<br>

<div class="container" style="border: 2px solid white; border-radius: 1.05rem;">
    <table class="charts-css bar show-heading show-labels show-10-secondary-axes data-spacing-5" id="my_chart">
        <caption style="color: white; text-align: center; font-family: 'Roboto Condensed', sans-serif;"> DELIVERED LIST
        </caption>
        <tbody>
            {% for city in all_branch_city %}
            <tr>
                <th style="font-size: 0.75rem;">{{ city }}</th>
                <td style="--color: #27c519; --size: calc( {{ delivered_list[city] }} / 20 )">{{ delivered_list[city] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<br>
<br>

<div class="container" style="border: 2px solid white; border-radius: 1.05rem;">
    <table class="charts-css bar show-heading show-labels show-10-secondary-axes data-spacing-5" id="my_chart">
        <caption style="color: white; text-align: center; font-family: 'Roboto Condensed', sans-serif;"> AVERAGE WAITING TIME 
        </caption>
        <tbody>
            {% for city in all_branch_city %}
            <tr>
                <th style="font-size: 0.75rem;">{{ city }}</th>
                <td style="--size: calc( {{ waiting_time_list[city] }} / 20 )">{{ waiting_time_list[city] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}