{% extends 'base.html' %}

{% block title %}
Customer Page
{% endblock %}

{% block content %}


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 100vh;">
            <svg class="bd-placeholder-img" width="100%" style="height: 100vh;" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><img
                    src="https://images.unsplash.com/photo-1592838064575-70ed626d3a0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1418&q=80"
                    alt="" width="100%" style="height: 100vh;"></svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Super Fast Delivery</h1>
                    <p>We provide same day, time-sensitive delivery services within 100 kilometers of Delhi, Kolkata,
                        Mumbai, Bangalore, Madras, Pune through TruckCourier.</p>
                    <p><a class="btn btn-lg btn-primary" href="{{ url_for('place_consignment_page') }}"
                            role="button">Place your Consignment today!</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 100vh;">
            <svg class="bd-placeholder-img" width="100%" style="height: 100vh;" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><img
                    src="https://images.unsplash.com/photo-1618317502010-1a3a94ab9b75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"
                    alt="" width="100%" style="height: 100vh;"></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Safe Logistic & Transport Solutions That Saves Our Valuable Time!</h1>
                    <p>Its always safe and secure with us: we are the guardians to protect you and your consignments.
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="height: 100vh;">
            <svg class="bd-placeholder-img" width="100%" style="height: 100vh;" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><img
                    src="https://images.unsplash.com/photo-1509017174183-0b7e0278f1ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
                    alt="" width="100%" style="height: 100vh;"></svg>
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Easy Payment Options</h1>
                    <p>Making life simple with multiple payment options, including Checks, Debit cards, Credit cards
                        Mobile payments, Electronic bank transfers.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">See all Options</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- <section class="pricing-section" style="height: 60vh;">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title text-center title-ex1">
                    <h2 style="color: white;">Pricing Tables</h2>
                </div>
            </div>
        </div>
         Pricing Table starts 
        <div class="row" style="color: black;">
            <div class="col-md-4">
                <div class="price-card">
                    <h2>100 kilometers service</h2>
                    <p>Only for selected cities</p>
                    <p class="price"><span>5</span>/ kilometer</p>
                    <ul class="pricing-offers">
                        <li>Free Lodaing</li>
                        <li>Free Unloading</li>
                        <li>Extended micro-delivary service</li>
                        <li>Monthly Subscription available</li>
                        <li>Safe logistics</li>
                    </ul>
                    <a href="{{ url_for('place_consignment_page') }}" class="btn btn-primary btn-mid">Place Now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-card featured">
                    <h2>Metro-city service</h2>
                    <p>Inter-metro city service</p>
                    <p class="price"><span>10</span>/ kilometer</p>
                    <ul class="pricing-offers">
                        <li>Free Loading</li>
                        <li>Unloading @rate: ₹10/100 m<sup>3</sup></li>
                        <li>Extended micro-delivary service</li>
                        <li>Monthly Subscription available</li>
                        <li>Safe logistics</li>
                    </ul>
                    <a href="{{ url_for('place_consignment_page') }}" class="btn btn-primary btn-mid">Place Now</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-card">
                    <h2>Standard service</h2>
                    <p>Across pan India</p>
                    <p class="price"><span>20</span>/ kilometer</p>
                    <ul class="pricing-offers">
                        <li>Loading @rate: ₹10/100 m<sup>3</sup></li>
                        <li>Unloading @rate: ₹10/100 m<sup>3</sup></li>
                        <li>Delivery service with private partners</li>
                        <li>Monthly Subscription available</li>
                        <li>Safe logistics</li>
                    </ul>
                    <a href="{{ url_for('place_consignment_page') }}" class="btn btn-primary btn-mid">Place Now</a>
                </div>
            </div>
        </div>
    </div>
</section> -->

<div id="manager">
    <div class="container">

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Place Consignment</h5>
                    <a href="{{ url_for('place_consignment_page') }}">Do</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>My Orders</h5>
                    <a href="{{ url_for('order_history_page') }}">Do</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}