{% extends 'base2.html' %}

{% block title %}
View Consignment Status Page
{% endblock %}

{% block content %}
<div class="container" style="width:fit-content; height: 100vh;">
    <div class="card shadow my-5">
      <h4 class="card-header" style="color:black">Truck List</h4>
      <div class="card-body">
        <form class="mb-3">
          <label for="searchBox" style="color:black">Search list</label>
          <input type="text" id="searchBox" name="searchBox" class="form-control">
          <small class="form-text feedback"></small>
        </form>
        <table class="table table-searchable table-striped table-bordered table-hover table-responsive ">
          <thead>
            <tr>
              <th>Truck ID</th>
              <th>Truck Number</th>
              <th>Source Branch Name</th>
              <th>Destination Branch Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for truck in trucks %}
            {% include 'includes/dispatch_modals.html' %}
            <tr>
              <td style="font-weight: 800; font-style: italic; text-align: center;">{{ truck.id }}</td>
              <td>{{ truck.truckNumber }}</td>
              <td style="margin-left: 1px;">{{ branch_city[truck.branch_id] }}</td>
              <td style="margin-left: 1px;">{{ branch_city[truck.destinationBranch] }}</td>
              {% if truck.live_latitude == None or truck.live_longitude == None %}
              <td>To dispatch truck update truck location</td>
              {% else %}
              {% if truck.status.name == "ENROUTE" %}
              <td>Truck Enroute</td>
              {% else %}
                <td data-control="select">
                  <button class="btn btn-outline btn-success" data-toggle="modal"
                      data-target="#Modal-TruckDispatch-{{ truck.id }}">Dispatch</button>
                </td>
              {% endif %}
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
  <!-- <div id="table">
    <div class="container" > 
        <div class="row">
            <div style="width: 100%;">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-6 col-xs-12">
                                <h4 class="title">Your Consignment List</h4>
                            </div>
                            <div class="col-sm-6 col-xs-12 text-right">
                                <div class="btn_group">
                                  
                                    <input type="text" style="width: 80%;" class="search form-control" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                      <form class="mb-3">
                        <label for="searchBox">Search table</label>
                        <small class="form-text feedback"></small>
                      </form>
                      <table class="table table-searchable table-striped table-bordered table-hover table-responsive">
                        <thead>
                          <tr>
                            <th>Consignment ID</th>
                            <th>Source Name</th>
                            <th>Destination Name</th>
                            <th>Order Date</th>
                            <th>status</th>
                            <th>More Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for consignment in consignments %}
                          <tr>
                            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ consignment.id }}</td>
                            <td>{{ consignment.senderAddress.city }}</td>
                            <td>{{ consignment.receiverAddress.city }}</td>
                            <td style="margin-left: 1px;">{{ consignment.order_date_time.strftime(" %d - %m - %Y ") }}</td>
                            <td>{{consignment.getStatus()}}</td>
                            <td data-searchable="false">
                              <div class="btn-group btn-group-sm" role="group">
                                      <a href="/track_consignment/{{consignment.id}}"><button type="button" class="btn btn-outline-dark"><i class="fa fa-truck"></i></button></a>
                                  </div>
                                </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                        <table class="table results">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">ID</th>
                                    <th>Source</th>
                                    <th>Destination</th>
                                    <th>Order Date</th>
                                    <th style="text-align: center;">More info</th>
                                </tr>
                                <tr class="warning no-result">
                                    <td colspan="4" style="color: white;"><i class="fa fa-warning "></i> No result</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consignment in consignments %}
                                <tr>
                                    <td style="font-weight: 800; font-style: italic; text-align: center;">{{ consignment.id }}</td>
                                    <td>{{ consignment.senderAddress.city }}</td>
                                    <td>{{ consignment.receiverAddress.city }}</td>
                                    <td style="margin-left: 1px;">{{ consignment.order_date_time.strftime(" %d - %m - %Y ") }}</td>
                                    <td style="text-align: center;padding: 1px;">
                                        <ul class="action-list">
                                            <li style="margin: 1px;"><a href="/invoice/{{consignment.id}}"><button class="button-33" role="button">Invoice</button></a></li>
                                            <li style="margin: 1px;"><a href="/track_consignment/{{consignment.id}}"><button class="button-33" role="button">Track</button></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}