{% extends 'base.html' %}

{% block title %}
    Employee Page
{% endblock %}

{% block content %}
<div id="manager">
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View Pending Consignments</h5>
                    <a href="/view_consignment_status/{{ current_user.branchID }}/pending">Do</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View All Consignments</h5>
                    <a href="/view_consignment_status/{{ current_user.branchID }}">Do</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View Truck Status </h5>
                    <a href="/view_truck_status/{{ current_user.branchID }}">Do</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View incoming truck status</h5>
                    <a href="/view_incoming_truck_status/{{ current_user.branchID }}">Do</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}