{% extends 'base.html' %} {% block title %} forgot password Page {% endblock %}
<!-- style="align-items: center; margin-top: 5%; margin-bottom: 5%; margin-left: 25%;" -->
{% block content %}
<div style="height: 100vh;">
<div class="container" style="max-width: 40rem; opacity: 0.8">
  <div class="container">
    <div
      id="unique_login"
      class="container login-form d-flex flex-column bd-highlight mb-3 mt-5"
      style="width: 100%; height: fit-content"
    >
      <form method="post">
        {{ form1.hidden_tag() }}
        <div class="text">Please enter your email</div>
        <div class="field">
          <div class="fas fa-user"></div>
          {{ form1.email(class="form-control",id="email", type="email",
          placeholder="Enter Email...") }}
        </div>
        <div class="field">
          <button type="button" onclick="sendOTP()" class="btn" style="color: gray">
            Send OTP
          </button>
        </div>
        <div class="otpverify" style="display: none">
          <div class="field">
            <div class="fas fa-user"></div>
            <input
              type="text"
              id="otp_inp"
              placeholder="Enter the OTP sent to your Email..."
            />
          </div>

          <button class="btn" id="otp-btn" style="color: greenyellow">
            Verify
          </button>
        </div>
        <div class="field password_submit" style="display:none">
          {{ form2.password(class="form-control", type="password", placeholder="Password") }}
        </div>
        <div class="field password_submit" style="display:none">
          {{ form2.submit() }}
        </div>
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}
