{% extends 'base.html' %}

{% block title %}
Invoice Page
{% endblock %}

{% block content %}


<!--Author      : @arboshiki-->
<div style="height: 100vh">
<div id="invoice">
<div class="container">

    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a href="{{url_for('home_page')}}">
                            <img src="{{url_for('static', filename='img/sorasu_logo.png')}}" data-holder-rendered="true" style="width: 15rem;"/>
                        </a>
                    </div>
                    <div class="col company-details" style="font-style: italic; font-weight: 400; font-size: 0.85rem;">
                        <div>IITKGP, Kharagpur-721302</div>
                        <div>(123) 456-789</div>
                        <div>sorasu@sorasu.com</div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light" style="font-size: 1.2rem;">Invoice To:</div>
                        <h4 class="to">{{ current_user.name }}</h4>
                        <div class="email"><a href="mailto:{{ current_user.email_address }}" style="text-decoration: none; color: white; font-style: italic;">{{ current_user.email_address }}</a></div>
                    </div>
                    <div class="col invoice-details">
                        <h5 class="invoice-id">Invoice: 3-2-1</h5>
                        <div class="date">Date of Invoice: {{ bill.date.strftime(" %d - %m - %Y ") }}</div>
                    </div>
                </div>
                <table >
                    <thead>
                        <tr>
                            <th class="text-left" >Consignment ID</th>
                            <th class="text-left" >Source Address</th>
                            <th class="text-left" >Receiver Address</th>
                            <th class="text-right">Volume</th>
                            <th class="text-right">Charge</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">{{consignment.id}}</td>
                            <td class="text-left">{{consignment.senderAddress.city}}</td>
                            <td class="text-left">{{consignment.receiverAddress.city}}</td>
                            <td class="unit">{{consignment.volume}}</td>
                            <td class="qty">₹{{bill.amount|round(2)}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">SUBTOTAL</td>
                            <td>₹{{bill.amount|round(2)}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">TAX 25%</td>
                            <td>₹{{(bill.amount|round(2) * 0.25)|round(2) }}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="2">GRAND TOTAL</td>
                            <td>₹{{(bill.amount|round(2) *1.25)|round(2) }}</td>
                        </tr>
                    </tfoot>
                </table>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <div class="toolbar hidden-print">
            <div class="text-right">
                <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Print</button>
            </div>
            <hr>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <!-- <div></div> -->
    </div>
</div>
</div>
</div>
{% endblock %}