{% extends 'base.html' %}

{% block title %}
    Manager Page
{% endblock %}

{% block content %}
<div id="manager">
    <div class="container">
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>Buy New Truck</h5>
                    <a href="{{ url_for('add_truck_page') }}">Do</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View Consignment Status</h5>
                    <a href="{{ url_for('view_consignment_status_page') }}">Do</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View Truck Status </h5>
                    <a href="{{ url_for('view_truck_status_page') }}">Do</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View Average Waiting Time of Consignment</h5>
                    <a href="{{ url_for('avg_wait_time_consignment_page') }}">Do</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View Average Truck Usage and Truck Idle Time</h5>
                    <a href="{{ url_for('view_truck_idle_time_page') }}">Do</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="box">
                <div class="content">
                    <h5>View Branch Consignment Handling</h5>
                    <a href="{{ url_for('branch_consignment_handling_page') }}">Do</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}