{% extends 'base.html' %}

{% block title %}
    Order History
{% endblock %}

{% block content %}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div style="height: 100vh">
<div id="table">
    <div class="container" > 
        <div class="row">
            <div style="width: 100%;">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-sm-6 col-xs-12">
                                <h4 class="title">Your Consignment List</h4>
                            </div>
                            <div class="col-sm-6 col-xs-12 text-right">
                                <div class="btn_group">
                                    <input type="text" style="width: 80%;" class="search form-control" placeholder="Search">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table results">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">ID</th>
                                    <th>Source</th>
                                    <th>Destination</th>
                                    <th>Order Date</th>
                                    <th style="text-align: center;">More info</th>
                                </tr>
                                <tr class="warning no-result">
                                    <td colspan="4" style="color: white;"><i class="fa fa-warning "></i> No result</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for consignment in consignments %}
                                <tr>
                                    <td style="font-weight: 800; font-style: italic; text-align: center;">{{ consignment.id }}</td>
                                    <td>{{ consignment.senderAddress.city }}</td>
                                    <td>{{ consignment.receiverAddress.city }}</td>
                                    <td style="margin-left: 1px;">{{ consignment.order_date_time.strftime(" %d - %m - %Y ") }}</td>
                                    <td style="text-align: center;padding: 1px;">
                                        <ul class="action-list">
                                            <li style="margin: 1px;"><a href="/invoice/{{consignment.id}}"><button class="button-33" role="button">Invoice</button></a></li>
                                            <li style="margin: 1px;"><a href="/track_consignment/{{consignment.id}}"><button class="button-33" role="button">Track</button></a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}