{% extends 'base2.html' %}

{% block title %}
View Consignment Status Page
{% endblock %}

{% block content %}
<div style="height: 100vh;">
<div class="container" style="width:fit-content">
  <div class="card shadow my-5">
    <h4 class="card-header" style="color:black">Truck List</h4>
    <div class="card-body">
      <form class="mb-3">
        <label for="searchBox" style="color:black">Search list</label>
        <input type="text" id="searchBox" name="searchBox" class="form-control">
        <small class="form-text feedback"></small>
      </form>
      <table class="table table-searchable table-striped table-bordered table-hover table-responsive ">
        <thead>
          <tr>
            <th>Truck ID</th>
            <th>Truck Number</th>
            <th>Source Branch Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for truck in trucks %}
          {% include 'includes/incoming_truck_modals.html' %}
          <tr>
            <td style="font-weight: 800; font-style: italic; text-align: center;">{{ truck.id }}</td>
            <td>{{ truck.truckNumber }}</td>
            <td style="margin-left: 1px;">{{ branch_city[truck.branch_id] }}</td>
            <td data-control="select">
              <button class="btn btn-outline btn-success" data-toggle="modal"
                data-target="#Modal-IncomingTruck-{{ truck.id }}">Approve</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>
</div>
{% endblock %}